{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Booty Battle App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='{% static "bootstrap/css/bootstrap.min.css" %}' rel="stylesheet" media="screen">
    <link href='{% static "css/base.css" %}' rel="stylesheet" media="screen">
    <!--[if lt IE 9]>
        <script src='{% static "bootstrap/js/html5shiv.js" %}'></script>
        <script src='{% static "bootstrap/js/respond.min.js" %}'></script>
    <![endif]-->
</head>
<body>
    {% verbatim %}
    <script type="text/x-handlebars">
        <div class="on_deck">
            <div class="jcarousel_left">
                <ul>
                    {{#each item in objects}}
                        <li><img {{bind-attr src=item.avatar}} class="img-rounded"></li>
                    {{/each}}
                </ul>
            </div>
            <div class="jcarousel_right">
                <ul>
                    {{#each item in objects}}
                        <li><img {{bind-attr src=item.avatar}} class="img-rounded"></li>
                    {{/each}}
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        {{view App.jQueryCarouselView}}
    </script>
    {% endverbatim %}
    <script src='{% static "js/libs/jquery-1.10.2.min.js" %}'></script>
    <script src='{% static "js/libs/jquery.jcarousel.min.js" %}'></script>
    <script src='{% static "js/libs/handlebars-1.0.0.js" %}'></script>
    <script src='{% static "js/libs/ember.prod.js" %}'></script>
    <script src='{% static "js/libs/ember-data.min.js" %}'></script>
    <script src='{% static "js/application.js" %}'></script>
    <script src='{% static "js/router.js" %}'></script>
    <script src='{% static "js/models/battle.js" %}'></script>
    <script src='{% static "bootstrap/js/bootstrap.min.js" %}'></script>
</body>
</html>
